input[type=text] {
    width: 25vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}
.submit_btn{
    margin-top: -5px;
    height: 50px;
}
.container{
	padding: 30px;
}
.my_btn{
	background-color: red;
}
.сategorie{
    background-color: #6AA3F0 !important;
    outline: 0 !important;
    border: 0 !important;
}
