<!DOCTYPE html>
<html>
<head>
      <title>TAGBE</title>
      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge chrome=1">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1, user-scalable=no">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="shortcut icon" href="{{ url_for('static', filename='materials/tagbe_blue.ico') }}" />
      <!-- Icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Custom style -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
      <!-- JQuery -->
      <script src="http://code.jquery.com/jquery-1.8.3.js">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
      <meta content="width=1280" name="viewport">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='materials/flex-images.css') }}">
      <script src="{{ url_for('static', filename='materials/flex-images.js') }}"></script>
</head>

<body>

<div class="navbar navbar-default my_navbar navbar-fixed-top" role="navigation">
    <div class="container">
          <ul class="nav navbar-nav">
              <li class="non_hover">
                  <div class="search">
                      <div id="custom-search-input">
                          <div class="input-group col-md-12 input_parent">
                              <input type="text" class="form-control input-lg my_input" placeholder="Search on Tagbe" id="tagbe_search" />
                              <span class="input-group-btn">
                                  <button class="btn btn-info btn-lg" type="button">
                                      <i class="glyphicon glyphicon-search"></i>
                                  </button>
                              </span>
                          </div>
                      </div>
                  </div>
              </li>
              <li class="website_name non_hover"><img src="{{ url_for('static', filename='materials/tagbe_blue.png') }}" class="tagbe_logo"><!-- <img src="tagbe_name.png" class="tagbe_name"> --></li>
           </ul>
          <ul class="nav navbar-nav navbar-right welcome_nav">
              <a href="login">
                <li class="fa_icon nav_li">
                    <div class="navbar_item"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</div>
                </li>
              </a>
              <a href="signup">
                <li class="fa_icon nav_li">
                    <div class="navbar_item"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</div>
                <li>
              </a>
          </ul>
    </div>
</div>
<div class="form_errors">{{errors}}</div>
<div class="container m-t50 welcome_cont">
    <div class="container form_div">
		<form method="POST" action="/signup">
			<div class="form-group">
			<label for="f_name">Ваше ім'я:</label>
			<input type="name" class="form-control" name="f_name">
		  </div>
			<div class="form-group">
			<label for="l_name">Ваше прізвище:</label>
			<input type="name" class="form-control" name="l_name">
		  </div>
		  <div class="form-group">
			<label for="name1">Ваш емейл:</label>
			<input type="name1" class="form-control" name="email">
		  </div>
		  <div class="form-group">
			<label for="pwd">Пароль:</label>
			<input type="password" class="form-control" name="pwd">
		  </div>
		  <div class="checkbox">
			<label><input type="checkbox"> Запам'ятати мене</label>
		  </div>
		  <button type="submit" class="btn btn-default my_btn">Надіслати</button>
		</form>
	</div>
</div>



<script>



$('#tagbe_search').keypress(function (e) {
  if (e.which == 13) {
    var firstName = $("#tagbe_search").val();
    window.location.href= firstName;
    return false;
    $("#tagbe_search").val();
  }
});

$('#delete_account').click(function(e){
      e.preventDefault()

      var person = prompt("Please write CONFIRM to delete your account. By clicking OK you agree that you understand all the consequences. You can renew your account by logging in the next time for 6 months. In other case account is permanently deleted from Tagbe", "");

      if (person == 'CONFIRM') {

            $.ajax({
                  url: '/delete_account',
                  type: 'POST',
                  contentType: 'application/json;charset=UTF-8',
                  success: function(response) {
                      console.log(response.status);
                      window.location.href = '/login';
                  },
                  error: function(error) {
                      console.log(error);
                  }
            });
      }
})

</script>
</html>










